@namespace Atlas.UIKit.Components

<span class="atlas-tooltip @PositionClass" @attributes="AdditionalAttributes">
    @ChildContent
    <span class="atlas-tooltip__content" role="tooltip">@Content</span>
</span>

@code {
    [Parameter] public string Content { get; set; } = "";
    [Parameter] public string Position { get; set; } = "top";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string PositionClass => Position switch
    {
        "bottom" => "atlas-tooltip--bottom",
        _ => "atlas-tooltip--top"
    };
}
