
name: Deploy to DigitalOcean
on:
  push:
    branches: [ "master" ]  # or your branch
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.DROPLET_IP }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
              cd /var/www/atlasuniversalis.com
              git pull origin master
              .venv/bin/pip install -r requirements.txt
              sudo systemctl restart atlasuniversalis

